<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlogIO</title>
  <link rel="stylesheet" href="../../public/css/jass.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <nav class="navbar">
    <ul id="navbarList">
      <li class="navItem"><a href='/'>Home</a></li>
      <li class="navItem"><a href='/dashboard'>Dashboard</a></li>
      <li class="navItem"><a href='/login'>Login</a></li>
      <li class="navItem"><a href='#' id="navLogout">Logout</a></li>
    </ul>
  </nav>
  <header class="banner">
    <h1 class="title" href="/">TechBlogIO</h1>
  </header>

  <main>
    {{{body}}}
  </main>

</body>

</html>

<script src="../../public/js/logout.js"></script>
