<section class="card">
  <div class="cardHeader">
    <h2>Login Here</h2>
  </div>

  <form id="loginForm" class="cardBody">
    <div>
      <label class="formLabels" for="usernameInputLogin">Username:</label>
      <input type="text" id="usernameInputLogin" />
    </div>
    <div>
      <label class="formLabels" for="passwordInputLogin">Password:</label>
      <input type="password" id="passwordInputLogin" />
    </div>
    <button type="submit" id="submitBtn" class="btn">Submit</button>
    <a class="log_sign" type="button" href="/signup">Sign-Up Here</a>
  </form>
</section>

<scirpt src="../public/js/login.js"></scirpt>