<section class="card">
  <div class="cardHeader">
    <h2>Signup Here</h2>
  </div>

  <form id="signupForm" class="cardBody">
    <div>
      <label class="formLabels"  for="usernameInputSignup">Username:</label>
      <input type="text" id="usernameInputSignup" />
    </div>
    <div>
      <label class="formLabels"  for="passwordInputSignup">Password:</label>
      <input type="password" id="passwordInputSignup" />
    </div>
    <button type="submit" id="submitBtn" class="btn">Submit</button>
    <a class="log_sign" type="button" href="/login">Log-In Here</a>
  </form>
</section>

<scirpt src="../public/js/signup.js"></scirpt>